@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}

.loading {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  aspect-ratio: 1 / 1;
  opacity: .9;
}

.loading img {
  width: 50px;
  animation: loadingAnim linear .8s infinite running;
}

@keyframes loadingAnim {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}